
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/userlayout.cshtml";
}
<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Welcome Back</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="contact-form bg-light rounded p-5">
                    <div id="success"></div>
                    @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
                    {
                        <form>
                            <div class="control-group">
                                <input type="email" class="form-control p-4" name="email" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="password" class="form-control p-4" name="pass" id="password" placeholder="Password" required="required" data-validation-required-message="Please enter your Password" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn btn-primary btn-block py-3 px-5" type="submit" id="sendMessageButton">Login</button>
                            </div>
                        </form>
                    }
                    <p class="help-block text-danger">@TempData["message"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->